
@media screen and (max-width:960px){
    .container{
        width: 100%;
        display: flex;
        max-width: 1100px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:690px) {
    .hero h2{
        font-size: 35px;
        padding: 10px;
    
}
    .hero p{
        font-size: 17px;
    }
}

@media screen and (max-width:674px){
    header{
        flex-direction: column;
    }

    .container-form{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .pie-pagina .grupo-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

}

@media screen and (max-width:545px){
    header nav ul{
        flex-direction: column;
        align-items:center ;
        width: 100%;
    }
    header nav ul li{
        margin: 3px;
    }
}

@media only screen and (min-width:320px) and (max-width:700px){
	.container-card1{
		flex-wrap: wrap;
	}
	.card1{
		margin: 15px;
	}
}